# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/

# OS and IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
.env
.env*
*.env